[;; User entities
 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/id
  :db/valueType   :db.type/string
  :db/unique      :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's public id"}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/handle
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's wombat handle"}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/access-token
  :db/valueType   :db.type/string
  :db/unique      :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's GitHub auth token."}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/github-username
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's GitHub username."}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/github-id
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's GitHub id."}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/email
  :db/valueType   :db.type/string
  :db/unique      :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's email from their GitHub account."}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/avatar-url
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "A user's avatar url from their GitHub account."}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :user/wombats
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc         "All the wombats that belong to a user"}

 ;; Wombat entities
 {:db/id          #db/id [:db.part/db]
  :db/ident       :wombat/id
  :db/valueType   :db.type/string
  :db/unique      :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc         "A Wombats public id"}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :wombat/name
  :db/valueType   :db.type/string
  :db/unique      :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc         "A Wombats name"}

 {:db/id          #db/id [:db.part/db]
  :db/ident       :wombat/url
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "The location of the wombat executable"}]
