[{:db/id #db/id [:db.part/user]
  :simulator-template/name "Template 1"
  :simulator-template/arena-template "Arena 1"}
 {:db/id #db/id [:db.part/user]
  :simulator-template/name "Template 2"
  :simulator-template/arena-template "Arena 2"}
 {:db/id #db/id [:db.part/user]
  :simulator-template/name "Template 3"
  :simulator-template/arena-template "Arena 3"}]
