// Declarations
// http://www.color-blindness.com/color-name-hue/
@color-doger-blue: #1654FF;
@color-black-80: rgba(0, 0, 0, 0.8);
@color-white: #FFFFFF;

// Assignments
@link-color: @color-doger-blue;

@modal-underlay-bg: @color-black-80;
@modal-component-bg: @color-white;