{:datomic {:uri #immuconf/override "Specify the database uri in the envioronment config"
           :requires-auth #immuconf/default false}
 :pedestal {:port #immuconf/override "Specify pedestal's http port in the environment config"
            :type :jetty
            :join? false
            :container-options {:h2c? true
                                :h2? false
                                :ssl? true}
            :allowed-origins ["http://localhost:3449"]}
 :github {:client-id #immuconf/override "Add to ~/.wombats/config.edn or as WOMBATS_GITHUB_CLIENT_ID"
          :client-secret #immuconf/override "Add to ~/.wombats/config.edn or as WOMBATS_GITHUB_CLIENT_SECRET"
          :signing-secret #immuconf/default "shhhhh....."
          :web-client-redirect #immuconf/override "Specify the location of the web client"}
 :aws {:access-key-id #immuconf/override "Add to ~/.wombats/config.edn or as WOMBATS_AWS_ACCESS_KEY_ID"
       :secret-key #immuconf/override "Add to ~/.wombats/config.edn or as WOMBATS_AWS_SECRET_KEY"}}
