{:api-settings {:uri "http://localhost:8888"
                :lambda {:clj "arn:aws:lambda:us-east-1:356223155086:function:wombats-clojure"
                         :js "arn:aws:lambda:us-east-1:356223155086:function:wombats-javascript"
                         :py "arn:aws:lambda:us-east-1:356223155086:function:wombats-python"}}
 :datomic {:uri "datomic:free://localhost:4334/wombats-dev"
           :requires-auth false}
 :pedestal {:port 8888
            :container-options {:ssl? false}}
 :logger {:level :debug
          :appenders [{:type :println
                       :options {:stream :auto}}]}}
