{:datomic {:uri "datomic:free://localhost:4334/wombats-dev"
           :requires-auth false}
 :pedestal {:port 8888
            :container-options {:ssl? false}}
 :github {:web-client-redirect "http://localhost:8888"}}
