{:api-settings {:uri "https://api.wombats.io"
                :lambda {:clj "arn:aws:lambda:us-east-1:356223155086:function:wombats-clojure"
                         :js "arn:aws:lambda:us-east-1:356223155086:function:wombats-javascript"
                         :py "arn:aws:lambda:us-east-1:356223155086:function:wombats-python"}}
 :datomic {:uri "datomic:ddb://us-east-1/wombats/prod"
           :requires-auth true}
 :pedestal {:port 8888
            :container-options {:ssl? false}}
 :logger {:level :warn
          :appenders [{:type :spit
                       :options {:fname "logfile.log"}}
                      {:type :println
                       :options {:stream :auto}}]}}
