@import "../defaults/spacing";
@import "../base/buttons";
@import "../variables/colors";

@user-menu-width: 100px;

.navbar {
    background: @navbar-bg;

    .navbar-list {
        position: relative;

        list-style: none;
        padding: @base-spacing-unit--quarter @base-spacing-unit--half;
        margin: 0 @base-spacing-unit @base-spacing-unit;
    }

    .navbar-link {
        display: inline-block;

        a {
            display: block;
            text-decoration: none;
            padding: @base-spacing-unit--half;
            
            color: @navbar-link-color;
        }

        &.home-link a {
            font-size: 30px;
            font-weight: bold;
        }
    }

    .user-menu-button {
        position: absolute;
        right: 0;
        bottom: @base-spacing-unit;

        button {
            .button-link-mixin();

            color: @navbar-link-color; 
        }
    }

    .user-menu {
        position: absolute;
        top: @base-spacing-unit--double;
        right: 0;
        width: @user-menu-width;
        padding-left: 0;
        list-style: none;
        background: @navbar-user-menu-bg;
        border-radius: 4px;
        visibility: hidden;
        overflow: hidden;
        
        &.open {
            visibility: visible;
        }

        .user-menu-link {
            width: 100%;

            a {
                color: @navbar-link-color;
                text-decoration: none;
                width: 100%;
                display: block;
                padding: @base-spacing-unit--half 0;

                &:hover {
                    background: darken(@navbar-user-menu-bg, 20%);
                }
            }
        }
    }
}
