[[{:type "open", :display "!", :transparent true}
  {:type "food", :display "+", :transparent false}
  {:type "open", :display "_", :transparent true}
  {:type "poison", :display "-", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "block", :display "@", :transparent false}
  {:type "block", :display "@", :transparent false}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "poison", :display "-", :transparent true}
  {:type "block", :display "@", :transparent false}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "player", :display "B", :_id "me"}
  {:type "block", :display "@", :transparent false}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "block", :display "@", :transparent false}
  {:type "block", :display "@", :transparent false}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "poison", :display "-", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "block", :display "@", :transparent false}
  {:type "food", :display "+", :transparent true}]

 [{:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "open", :display "_", :transparent true}
  {:type "food", :display "+", :transparent true}]]
:eof
